header
{
    background-color: bisque;
    border: cornflowerblue 10px solid;
    text-align: center;
}
h1
{
    color: brown;
}
.principal {
    border: chocolate solid 5px;
    display: flex;
    padding: 20px;
    margin: 20px;
   
}
.contenido {
    border: solid 5px blue;
    width: 50%;
    padding: 10px;
    margin: 5px;
    text-align: center;
    height: 20em;
   
}
.contenido1 {
    border: solid 5px blue;
    width: 50%;
    margin: 5px;
    text-align: center;
    padding: 10px;

}
footer
{
    border: chocolate solid 5px;
    display: flex;
    padding: 20px;
    margin: 20px;

}
.redes {
    border: solid 5px blue;
    width: 50%;
    margin: 5px;
    text-align: center;
    padding: 10px;
    
}
.logo {
    border: solid 5px blue;
    width: 50%;
    margin: 5px;
    padding: 10px;
    text-align: right;
    display: inline-flex;

        
}
li
{
width: 100%;
    list-style: none;
    margin: 20px;
    padding: 5px;
    text-align: center;
    
}
