header
{
    background-color: bisque;
    border: cornflowerblue 10px solid;
    text-align: center;
}
h1
{
    color: brown;
}
.principal {
    border: chocolate solid 5px;
    display: flex;
    padding: 20px;
}
.contenido {
    border: solid 5px blue;
    width: 50%;
    padding: 10px;
    margin: 5px;
    text-align: center;
   
}
.contenido1 {
    border: solid 5px blue;
    width: 50%;
    margin: 5px;
    text-align: center;
    padding: 10px;

}
